.card {
  background-color: #2a2a44;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

  .card-content {
    display: flex;
    flex-direction: column;

    .title {
      font-size: 14px;
      color: #c9c9d4;
      order: 3; 
    }

    .value {
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 5px;
      order: 1; 
    }

    .change-indicator {
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 10px;
      order: 2; 

      .arrow-icon {
        margin-right: 5px;
      }

      &.positive {
        color: #10b981; 
      }

      &.negative {
        color: #ef4444;
      }
    }
  }

  .donut-chart-placeholder {
    width: 80px;
    height: 80px;
    border-radius: 50%;

    background-color: transparent;


    border: 8px solid; 
    // ------------------------

    &.yellow {
      border-color: #f59e0b;
    }
    &.red {
      border-color: #ef4444;
    }
    &.orange {
      border-color: #f97316;
    }
    &.blue {
      border-color: #3b82f6;
    }
  }

  

  @media (max-width: 768px) {
    padding: 15px; 
  }

  @media (max-width: 480px) {
    .donut-chart-placeholder {
      width: 50px;
      height: 50px;
      border: 6px solid; 
    }

    .card-content {
      .value {
        font-size: 24px; 
      }
    }
  }
}
