.dashboard-container {
  display: flex;
  min-height: 100vh;
  width: 100%;
  padding-left: 8%;
  background-color: #12122346; 
  .main-content {
    flex-grow: 1;
    padding: 20px;

    .dashboard-body {
      // The content area below the Topbar
      padding: 0 10px;

      .leads-header {
        display: flex;
        align-items: center;
        margin: 10px 0 20px;

        .header-icon {
          font-size: 24px;
          margin-right: 10px;
          color: #6366f1;
        }

        h1 {
          font-size: 24px;
          color: #fff;
          margin: 0;
        }
      }

      .cards-container {
        display: grid;
        // 5 cards visible, slightly less than 500px wide
        grid-template-columns: repeat(auto-fit, minmax(10%, 1fr));
        gap: 20px;
        margin-bottom: 20px;
      }

      .table-container {
        width: 100%;
      }
    }
  }

  

  @media (max-width: 768px) {
    padding-left: 0;

    .main-content {
      padding: 10px;

      .dashboard-body {
        padding: 0;
      }

      .cards-container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 15px;
      }
    }
  }

  @media (max-width: 480px) {
    .main-content {
      .cards-container {
        grid-template-columns: 1fr;
      }
    }
  }
}
